.display-grid {
    display: grid;
}

.header-style {
    text-align: center;
    padding-bottom: 20px;
}

.button-style {
    justify-self: center;
    width: 60px;
}

.error {
    text-align: center;
    color: red;
}

.success {
    text-align: center;
    color: green;
}